@model List<Apotek.Models.Obat>
@{
    ViewData["Title"] = "Master Obat";
    int no = 1;
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Master Obat</h5>
                    <hr />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="row">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="bi bi-check-circle me-1"></i>
                                <strong>Sukses!</strong> @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    }

                    <a class="btn btn-primary" asp-controller="Obat" asp-action="Create">Tambah Obat</a>
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">ID Obat</th>
                                <th scope="col">ID Jenis</th>
                                <th scope="col">Nama Obat</th>
                                <th scope="col">Tanggal Kadaluarsa</th>
                                <th scope="col">Harga</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obat in Model)
                            {
                                <tr>
                                    <td>@(no++)</td>
                                    <td>@obat.idObat</td>
                                    <td>@obat.idJenis</td>
                                    <td>@obat.namaObat</td>
                                    <td>@obat.tanggalKadaluarsaObat.ToString("dd/MM/yyyy")</td>
                                    <td>@obat.hargaObat</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger delete-button" data-idobat="@obat.idObat">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <a asp-controller="Obat" asp-action="Edit" asp-route-id="@obat.idObat" class="btn btn-sm btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-sm btn-info btn-info-modal" data-toggle="modal" data-target="#infoModal_@obat.idObat">
                                            <i class="fas fa-info-circle"></i>
                                        </button>

                                        <div class="modal fade" id="infoModal_@obat.idObat tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Informasi Obat</h5>
                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <strong>Id Obat:</strong> @obat.idObat<br />
                                                        <strong>Id Jenis:</strong> @obat.idJenis<br />
                                                        <strong>Nama Obat:</strong> @obat.namaObat<br />
                                                        <strong>Tanggal Kadaluarsa:</strong> @obat.tanggalKadaluarsaObat<br />
                                                        <strong>Harga:</strong> @obat.hargaObat<br />

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".delete-button").click(function () {
            var obatId = $(this).data("idobat");


            swal({
                title: "Hapus Obat?",
                text: "Apakah Anda yakin ingin menghapus Obat ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    // Mengirimkan permintaan penghapusan ke controller
                    $.ajax({
                        url: "/Obat/Delete/" + obatId,
                        type: "POST",
                        success: function (data) {
                            // Tampilkan pesan sukses jika diperlukan
                            if (data.success) {
                                swal("Sukses!", data.message, "success");
                                // Refresh halaman setelah menghapus
                                location.reload();
                            } else {
                                swal("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error!", "Terjadi kesalahan saat menghapus Obat.", "error");
                        }
                    });
                }
            });
        });
    });
</script>


